@{
    ViewData["Title"] = "Пользователи";
}

@if (phoneBookModel.CurrentUser.Id == 1)
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#userBar" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="userBar">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="AddUser">Добавить пользователя</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center">
        <h1 class="display-4">Пользователи</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Роль</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User item in phoneBookModel.Users)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Login</td>
                        <td>@item.Password</td>
                        <td>@phoneBookModel.GetUserRole(item)</td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Редактировать", "EditUser", "Home", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm", role = "button" })
                                @Html.ActionLink("Удалить", "DeleteUser", "Home", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm", role = "button" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        <p>Недостаточно прав</p>
    </div>
}